doctype 5
html
	head
		title #{__('title.main')}

		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')

		script(type="text/javascript", data-main="/js/init", charset="utf-8", src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js")

	body
		.navbar.navbar-fixed-top: .navbar-inner
			.container
				a(href='#').brand #{__('brand')}

		.container
			.row
				.span12#breadcrumb

			#content
