.alert.alert-success.hidden.savesuccess #{__('alert.save_success')}
.alert.alert-error.hidden.saveerror #{__('alert.save_error')}
.alert.alert-error.hidden.parseerror #{__('alert.parse_error')}

textarea#editor

.form-actions
	button.btn.btn-primary.save #{__('btn.save')}
